@import "//fonts.googleapis.com/css?family=Roboto:100,300,400";
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

* {
    text-rendering:optimizeLegibility!important;
    -webkit-font-smoothing:antialiased!important;
    -moz-osx-font-smoothing:grayscale;
}

html, 
body,
header,
#intro {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#intro {
    background: url("../resources/intro-pic-shop.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}